{
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0
  }
}